<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joke Site</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
  <header>
    <h1>
      <a href="/">Joke Site</a>
    </h1>

  <!-- if the user is logged in, show web page contents -->
  {{#if loggedIn}}
  <nav>
    <a href="/dashboard">dashboard</a>
    <button id="logout" class="btn-no-style">logout</button>
  </nav>
  </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      We hope you laughed!
    </footer>
  {{/if}}

  <!-- when user is not logged in, send to login page -->
  {{else}}
  <a href="/login">login</a>  
  </div>

  <!-- show logout button while logged in -->
  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>