<section>
  <h2>Create New Joke</h2>

  <form class="new-joke-form">
    <div>
      <label for="joke-message">Message</label>
      <input type="text" id="joke-message" name="joke-message" />
    </div>
    <div>
      <label for="punchline">Punchline</label>
      <input id="punchline" name="punchline" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-joke.js"></script>
<script src="/javascript/category.js"></script>