<section>
  <!-- joke heading-->
  <h2>Write your joke here!</h2>
  <!-- form for joke submission -->
  <form class="new-joke-form">
    <div>
      <!-- enter joke here -->
      <input id="joke-text" name="joke-text" />
    </div>
    <div>
      <!-- choose a joke type from dropdown -->
      <label for="joke-type">Choose a joke type:</label>
      <select name="joke-type" id="joke-type">
        <option value="oscar">Oscar</option>
        <option value="dave">Dave</option>
        <option value="pumpernickel">Pumpernickel</option>
        <option value="reeses">Reeses</option>
      </select>
    </div>
    <!-- submit button -->
    <button type="submit" class="btn">Create</button>
  </form>
</section>
<!--if there are any jokes-->
{{#if jokes.length}}
<section>
  <h2>Jokes Board</h2>
  <ol>
    {{#each jokes as |joke|}}
    <li>
      {{> joke-info joke}}
      <a href="/dashboard/edit/{{joke.id}}" class="edit-link">Edit joke</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-joke.js"></script>