<section class="center-form">
  <h2>Create New Joke</h2>

  <form class="new-joke-form">
    <div>
      <label for="joke-message">Message</label>
      <input type="text" class="textbox" id="joke-message" name="joke-message" />
    </div>
    <div>
      <label for="punchline">Punchline</label>
      <input type="text" class="textbox" id="punchline" name="punchline" />
    </div>
    <div>
      <label for="categories">Choose a category:</label>

      <select name="category_id" class="textbox" id="categories">
        {{#each categories as |category|}}
        <option class="textbox" value="{{id}}">{{category_text}}</option>

        {{/each}}
      </select>


    </div>
    <button type="submit" class="btn">The Button</button>
    <br>
    <br>
  </form>

  <img class="Image2 pure-u-1 1-box" src="/assets/joke2.gif" alt="A Button Image" />
</section>

<script src="/javascript/add-joke.js"></script>
<script src="/javascript/category.js"></script>