{{> joke-info joke}}

{{#if loggedIn}}
    <div>
        <button type="button" class="upvote-btn">upvote</button>
    </div>
</form>
{{/if}}

{{> categories joke.categories}}

{{#if loggedIn}}
<script src="/javascript/category.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}